.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.users-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 20px auto;
}

.user-card {
  background-color: #d18081;
  width: fit-content;
  padding: 8px 10px;
  border-radius: 8px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

button {
  background-color: rgb(60, 140, 206);
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
